#box{
    -fx-pref-height: 400.0;
    -fx-pref-width: 600.0;
    -fx-spacing: 15;
}
#title{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
#codeField{
    -fx-font-size: 15px;
    -fx-padding: 10px;
}
#sendBtn{
    -fx-font-size: 16px;
    -fx-background-color: #10388c;
    -fx-text-fill: white;
}
#csvButton{
    -fx-font-size: 16px;
    -fx-background-color: #10388c;
    -fx-text-fill: white;
}
#backBtn{
    -fx-font-size: 16px;
    -fx-background-color: #6b0e0e;
    -fx-text-fill: white;
}