#box{
    -fx-spacing: 10;
}
#errorLabelReg{
    -fx-text-fill: red;
}
#title{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
.labels{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}
.textFields{
    -fx-padding: 15px;
}
#regBtn{
    -fx-font-size: 16px;
    -fx-background-color: #10388c;
    -fx-text-fill: white;
}
#backBtn{
    -fx-font-size: 16px;
    -fx-background-color: #6b0e0e;
    -fx-text-fill: white;
}