#titleLable{
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}
#errorLabel{
    -fx-text-fill: red;
}
.labels{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}
.textField{
    -fx-padding: 15px;
}
#authBtn{
    -fx-font-size: 16px;
    -fx-background-color: #10388c;
    -fx-text-fill: white;
}
#createAccBtn{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #337AB7;
    -fx-font-size: 16px;
}